.ui-tree-input{
	border:1px solid #95B8E7;
	border-radius: 5px;
	background-image: url(img/downarrow.png);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	padding: 3px 16px 3px 10px;
}
.ui-tree-input:focus{
	box-shadow: 0 0 3px 0 #95B8E7;
	border: #6B9CDE;
}
.ui-tree-box {
	border: 1px solid #daf4f8;
	background-color: white;
	font-family: "verdana,helvetica,arial,sans-serif";
	color: #666666;
	font-size: 13px;
	/*padding-right: 15px;*/
	position: absolute;
	box-sizing: border-box;
	overflow: auto;
	border-radius: 3px;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,50%);
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 10px #ccc;
}

.ui-tree-child {
	
}
.ui-tree-child > .ui-tree-child{
	/*border-left: 1px dashed #CCE6FF;
	margin-left: 20px;*/
}
.ui-tree-title {
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	margin:1px 0;
	padding-left: 5px;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
}
.ui-tree-title:hover {
	background-color: #eaf2ff;
}
.ui-tree-title.active{
	background-color: #ffe48d;
}

.ui-tree-icon{
	display: inline-block;
	width: 6px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.ui-tree-icon-show {
	background-image: url(img/show.png);
}
.ui-tree-icon-hide {
	background-image: url(img/hide.png);
}
.ui-tree-icon-hide:hover {
	background-image: url(img/hide-hover.png);
}
.ui-tree-text {
	display: inline-block;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 7px center;
	background-image: url(img/child.png);
	padding-left: 30px;
	box-sizing: border-box;
	position: absolute;
	left: 11px;
	/*right: 0;*/
	top: 0;
	white-space:nowrap;


}
.ui-tree-icon + .ui-tree-text{
	
}
.ui-tree-icon-show + .ui-tree-text{
	background-image: url(img/show-dir.png);
}
.ui-tree-icon-hide + .ui-tree-text{
	background-image: url(img/hide-dir.png);
}


